@import "../../../styles/variables.scss";
@import "../../../styles/responsive.scss";
.countryMap {
  display: flex;
  width: 100%;
  gap: 2rem;
  padding-block: 1rem;
  position: relative;
  align-items: flex-start;
  overflow-y: hidden;
  height: 100%;

  .mapInfo {
    position: sticky;
    background-color: $dark-bg;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    overflow-x: hidden;
    @include lg {
      position: absolute;
      bottom: -20px;
      left: 5px;
      opacity: 0.5;
    }
    .tooltipContent {
      span {
        color: rgb(0, 255, 0);
        font-size: 1rem;
      }
    }
  }
  .map {
    flex: 0 0 80%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    @include lg {
      flex: 0 0 100%;
    }

    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
}
